In [1]:
import pandas as pd

In [3]:
df=pd.read_csv ("./CovidFinalGender.csv")

In [4]:
len(df.columns)

10

In [6]:
df

,State,Women,Men,Total Infection W_M,Women in Percentage,Men In Percentage,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Alabama,439375,405576,844951,52,48,NaN,NaN,NaN,NaN
1,Alaska,70799,73374,144173,49,51,NaN,NaN,NaN,NaN
2,Arizona,649245,608050,1257295,52,48,NaN,NaN,NaN,NaN
3,Arkansas,275732,245681,521413,53,47,NaN,NaN,NaN,NaN
4,California,2423900,2285254,4709154,51,49,NaN,NaN,NaN,NaN
5,Colorado,409450,396711,806161,51,49,NaN,NaN,NaN,NaN
6,Connecticut,216368,200482,416850,52,48,NaN,NaN,NaN,NaN
7,Delaware,79984,69847,149831,53,47,NaN,NaN,NaN,NaN
8,District of Columbia,34397,31069,65466,53,47,NaN,NaN,NaN,NaN
9,Florida,1196209,1069736,2265945,53,47,NaN,NaN,NaN,NaN
10,Georgia,681256,586834,1268090,54,46,NaN,NaN,NaN,NaN
11,Hawaii,40482,43674,84156,48,52,NaN,NaN,NaN,NaN
12,Idaho,159058,145163,304221,52,48,NaN,NaN,NaN,NaN
13,Illinois,921488,842343,1763831,52,48,NaN,NaN,NaN,NaN
14,Indiana,574779,503202,1077981,53,47,NaN,NaN,NaN,NaN
15,Iowa,291450,263426,554876,53,47,NaN,NaN,NaN,NaN
16,Kansas,240336,220106,460442,52,48,NaN,NaN,NaN,NaN
17,Kentucky,405186,363571,768757,53,47,NaN,NaN,NaN,NaN
18,Louisiana,422978,346073,769051,55,45,NaN,NaN,NaN,NaN
19,Maine,61380,57110,118490,52,48,NaN,NaN,NaN,NaN
20,Maryland,305435,277864,583299,52,48,NaN,NaN,NaN,NaN
21,Massachusetts,440456,406574,847030,52,48,NaN,NaN,NaN,NaN
22,Michigan,659782,609150,1268932,52,48,NaN,NaN,NaN,NaN
23,Minnesota,456982,430738,887720,51,49,NaN,NaN,NaN,NaN
24,Mississippi,74285,68571,142856,52,48,NaN,NaN,NaN,NaN
25,Missouri,389916,336925,726841,54,46,NaN,NaN,NaN,NaN
26,Montana,98857,90193,189050,52,48,NaN,NaN,NaN,NaN
27,Nebraska,238345,238345,476690,50,50,NaN,NaN,NaN,NaN
28,Nevada,232086,218177,450263,52,48,NaN,NaN,NaN,NaN
29,New Hampshire,78716,74309,153025,51,49,NaN,NaN,NaN,NaN
30,New Jersey,558312,522238,1080550,52,48,NaN,NaN,NaN,NaN
31,New Mexico,158656,144932,303588,52,48,NaN,NaN,NaN,NaN
32,New York,1369719,1288989,2658708,52,48,NaN,NaN,NaN,NaN
33,North Carolina,777280,746798,1524078,51,49,NaN,NaN,NaN,NaN
34,North Dakota,83334,77968,161302,52,48,NaN,NaN,NaN,NaN
35,Ohio,889203,771761,1660964,54,46,NaN,NaN,NaN,NaN
36,Oklahoma,330645,330645,661289,50,50,NaN,NaN,NaN,NaN
37,Oregon,195389,184531,379920,51,49,NaN,NaN,NaN,NaN
38,Pennsylvania,909354,810348,1719702,53,47,NaN,NaN,NaN,NaN
39,Rhode Island,86110,76831,162941,53,47,NaN,NaN,NaN,NaN
40,South Carolina,480396,412500,892896,54,46,NaN,NaN,NaN,NaN
41,South Dakota,85885,78407,164292,52,48,NaN,NaN,NaN,NaN
42,Tennessee,692887,607650,1300537,53,47,NaN,NaN,NaN,NaN
43,Texas,1339721,2186425,3526146,38,62,NaN,NaN,NaN,NaN
44,Utah,290144,301986,592130,49,51,NaN,NaN,NaN,NaN
45,Vermont,24183,23772,47955,50,50,NaN,NaN,NaN,NaN
46,Virginia,497879,459340,957219,52,48,NaN,NaN,NaN,NaN
47,Washington,376471,371094,747565,50,50,NaN,NaN,NaN,NaN
48,West Virginia,150978,136871,287849,52,48,NaN,NaN,NaN,NaN
49,Wisconsin,445490,416834,862324,52,48,NaN,NaN,NaN,NaN
50,Wyoming,43651,41536,85187,51,49,NaN,NaN,NaN,NaN

In [8]:
df.iloc[0].to_frame().T

,State,Women,Men,Total Infection W_M,Women in Percentage,Men In Percentage,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Alabama,439375,405576,844951,52,48,NaN,NaN,NaN,NaN

In [ ]:
df.iloc[1].to_frame().T.to_csv ('test.csv',index=False)

In [ ]:
df.iloc[2].to_frame().T.to_csv ('test2.csv',index=False)